
<style>

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


</style>

<div class="navbar-container">
    <div class="logo">
        <h1><a href="{% url 'home' %}">World Of Assets</a></h1>
    </div>

    <div class="searchbar">
        <form method="get" action="">
            <input type="text" name="q" placeholder="Search..." />
        </form>
    </div>

{% if not request.user.is_authenticated %}
    <div class="login-register-buttons">
        <a href="{% url 'user_login' %}">Login</a>
        <a href="{% url 'user_registration' %}">Register</a>
    </div>

{% else %}
    <div class="user-greetings">
        Hello {{ request.user.username }}<br>
    <a href="{% url 'user_logout' %}">Logout</a>
    </div>

{% endif %}


</div>
<hr>