
<style>

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


</style>

<div class="navbar-container">
    <div class="logo">
        <h1><a href="{% url 'home' %}">World Of Assets</a></h1>
    </div>

    <div class="searchbar">
        <form method="get" action="">
            <input type="text" name="q" value="Search..." />
        </form>
    </div>

    <div class="login-register-buttons">
        <a>Login</a>
        <a>Register</a>
    </div>

</div>
<hr>